/*Base Selectors*/

html {}

body{
    /*font-family: Verdana, sans-serif;*/
    /*margin: 0;*/
    /*padding: 0;*/
}
header {}

/* Footer */
h1 {
    /*font-size: 1em;*/
}
h1, h2, h3 {
    /*font-family: 'Nunito', sans-serif;*/
    /*text-align: left;*/
}
footer {
    margin-top: 2%;
    background-color: #e6f2ff;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

/****************************************/
/* Class Selectors */

/* Cards */
.card img {
    max-height: 150px;
    width: 150px;
    height: 150px;
}

.card .description {
    color: #848484;
}
/* Logo */
.logo {
    max-width: 40%;
    max-height: 200px;
}
/* Price* */
.price {
    font-weight: bold;
    font-size: 16px;
}

/* Footer section classes */
.footer_logo {
    max-width: 70%;
    height: auto;
}

.address span, .menu span {
    color: black;
    font-weight: bold;
    border-bottom: 1px solid #c7c7c7;
    padding: 10px 0px;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}

.address li a, .menu li a {
    color: black;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 14px;
}

.address li, .menu li {
    margin: 20px 0px;
    list-style: none;
}

.address li a:hover, .menu li a:hover {
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.address .fa {
    color: #003c80;
    margin-right: 10px;
    font-size: 18px;
}

.copyright {
    text-align: center;
    color: black;
    margin-top: 2%;
    background-color: #b3d6ff;
    padding: 30px 0px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    font-size: 10px;
}

/**************************************/
/* Stripe */
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

/***********************************/

/*ID Selectors*/
#showProduct {
    width: 100px;
    height: 100px;
}


.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: auto;
    padding: 10px;
    text-align: center;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-old {
    color: #999;
}

label {
    font-weight: bold;
    text-transform: uppercase;
}
